*
{
  font-family: "Segoe UI", Arial, sans-serif;
}

.main-container {
  height: 100vh;
  overflow-y: hidden;
}

.pdf-toolbar {
  background-color: var(--toolbar-background-color);
  padding: .5rem;

  .button
  {
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    padding: .4rem 1rem .5rem 1rem;
    border: none;
    background-color: var(--button-background-color);
    cursor: pointer;
    line-height: 1.4rem;

    &:hover
    {
      background-color: var(--button-hover-background-color);
      color: var(--button-hover-text-color);
    }

    &.small
    {
      padding: .15rem .8rem 0 .8rem;
    }
  }
}

.margin-right-small
{
  margin-right: .5rem;
}