<lib-pdf-viewer #pdfViewer
    [fileSource]="'/assets/pdfjs/web/compressed.tracemonkey-pldi-09.pdf'"
    [disabledTools]="['openFile', 'printing', 'downloadPdf', 'textEditor', 'drawEditor']"
    [hiddenTools]="['textEditor', 'drawEditor']"
    [annotationsProvider]="fetchAnnotationsForPage"
    [annotationsSaveProvider]="saveAnnotation"
    [annotationsDeleteProvider]="deleteAnnotation"
    [annotationsCommentSaveProvider]="saveAnnotationComment"
    
    [loggingProvider]="loggingProvider">
</lib-pdf-viewer>