:host, .sidebar {
    height: 100%;
    width: 15rem;
}

.sidebar {
    background-color: rgba(LightSlateGray, 0.1);
}

.logo {
    padding: 10px 5px 10px 5px;
    background-color: rgba(LightSlateGray, 0.2);
}